:root {
    --he_font: Tahoma;
    --he_font_size: 14px;
    --he_direction: rtl;
    --he_rev_direction: ltr;
    --he_align: right;
    --he_rev_align: left;
}
html {
    --he_text: #000; 
    --he_text_light: #666;
    --he_text_alt: #2f4d6d;
    --he_text_alt_light: #456281;
    --he_base: #2b78fe; 
    --he_base_light: #0099ff;
    --he_alt: #2e9f2e; 
    --he_alt_light: #3daf3d;
    --he_alert: #f00000; 
    --he_alert_light: #ff4242;
    --he_disabled: #aaa; 
    --he_disabled_light: #ccc;
    --he_selected: #e6f7ff;
    --he_back: #fff;
    --he_back_alt: #f1f1f1;
    --he_dark: #2f2f2f; 
    --he_dark_alt: #3f3f3f;
}
[data-theme="dark"] {
    --he_text: hsl(210, 20%, 92%); 
    --he_text_light: hsl(210, 5%, 62%);
    --he_text_alt: hsl(210, 20%, 65%);
    --he_text_alt_light: hsl(210, 20%, 60%);
    --he_base: hsl(218, 99%, 58%); 
    --he_base_light: hsl(204, 100%, 50%);
    --he_alt: hsl(120, 53%, 38%); 
    --he_alt_light: hsl(120, 48%, 46%);
    --he_alert: hsl(0, 100%, 47%); 
    --he_alert_light: hsl(0, 100%, 63%);
    --he_disabled: hsl(210, 10%, 50%); 
    --he_disabled_light: hsl(210, 10%, 42%);
    --he_selected: hsl(213,26%,53%);
    --he_back: hsl(210, 20%, 12%);
    --he_back_alt: hsl(236, 85%, 8%);
    --he_dark:hsl(0, 0%, 85%); 
    --he_dark_alt: hsl(0, 0%, 67%);
}